[pylint]
disable=
    bare-except,
    consider-using-enumerate,
    consider-using-f-string,
    consider-using-with,
    global-at-module-level,
    global-statement,
    import-error,
    invalid-name,
    line-too-long,
    missing-function-docstring,
    missing-module-docstring,
    multiple-statements,
    redefined-outer-name,
    superfluous-parens,
    too-many-branches,
    too-many-locals,
    too-many-statements,
    trailing-whitespace,
    undefined-variable,
    unspecified-encoding,
    unused-argument,
    unused-import,
    useless-return,
    wrong-import-order,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
